<html>
    <head>
        <%- partial('_partial/components/head') %>
    </head>

    <body class="sm-blogger-body" id="home">
        
        <%- partial('_partial/components/header/header') %>

        <%- body %>

        <%- partial('_partial/components/footer/footer') %>

    </body>

</html>