<footer class="container">
    <div class="row justify-content-center">
        <div class="col">
            <div class="row justify-content-center"><%- partial('footer-ads') %></div>
            <div class="row justify-content-center">Site content is &copy; Steven Meehan</div>
            <div class="row ">
                <p>Site powered by <a href="https://hexo.io/" title="Hexo">Hexo</a></p>
            </div>
            <div class="row">
                <p>Back to top <a href="#home" title="Back to top"><span class="fas fa-angle-double-up"></span></a></p>
            </div>
        </div>
    </div>
</footer>