<div class="col d-none d-lg-block sm-blogger-footer-amazon-ad">
    <script type="text/javascript">
        amzn_assoc_ad_type = "banner";
        amzn_assoc_marketplace = "amazon";
        amzn_assoc_region = "US";
        amzn_assoc_placement = "assoc_banner_placement_default";
        amzn_assoc_campaigns = "amzn_erd_audbun_dec";
        amzn_assoc_banner_type = "category";
        amzn_assoc_isresponsive = "true";
        amzn_assoc_banner_id = "1ZGTBSHR6TVW0PYHR3R2";
        amzn_assoc_tracking_id = "mysite009e-20";
        amzn_assoc_linkid = "5306947fdd58a89a56ad720b4f8982ab";
    </script>
    <script src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1"></script>
</div>
