<div class="kofi-link">
    <script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
    <script>
        kofiWidgetOverlay.draw('stevenmeehan', {
            'type': 'floating-chat',
            'floating-chat.donateButton.text': 'Tip Jar',
            'floating-chat.donateButton.background-color': '#5bc0de',
            'floating-chat.donateButton.text-color': '#323842'
        });
    </script>
</div>